In [1]:
import pandas as pd

In [2]:
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population")

In [4]:
type(df)

list

In [7]:
df[0]

,Unnamed: 0,Country / Dependency,Population,% ofworld,Date,Source (official or fromthe United Nations),Unnamed: 6
0,–,World,8079149000,100%,24 Dec 2023,UN projection[3],NaN
1,1,China,1411750000,NaN,31 Dec 2022,Official estimate[4],[b]
2,2,India,1392329000,NaN,1 Mar 2023,Official projection[5],[c]
3,3,United States,334914895,NaN,1 Jul 2023,Official estimate[7],[d]
4,4,Indonesia,279118866,NaN,1 Jul 2023,National annual projection[8],NaN
...,...,...,...,...,...,...,...
237,–,Niue,1689,NaN,11 Nov 2022,2022 Census [233],NaN
238,–,Tokelau (NZ),1647,NaN,1 Jan 2019,2019 Census [234],NaN
239,195,Vatican City,764,NaN,26 Jun 2023,Official figure[235],[af]
240,–,Cocos (Keeling) Islands (Australia),593,NaN,30 Jun 2020,2021 Census[236],NaN
241,–,Pitcairn Islands (UK),47,NaN,1 Jul 2021,Official estimate[237],NaN

In [24]:
df=pd.read_html("https://en.wikipedia.org/wiki/COVID-19_pandemic_by_country_and_territory", match="Deaths")

In [25]:
df[0]

,COVID-19 pandemic,COVID-19 pandemic.1
0,"Confirmed deaths per 100,000 population,[1][no...","Confirmed deaths per 100,000 population,[1][no..."
1,Disease,COVID-19
2,Virus strain,SARS-CoV-2
3,Source,"Probably bats, possibly via pangolins[2][3][4]"
4,Location,Worldwide
5,First outbreak,China[5]
6,Index case,"Wuhan, Hubei, China.mw-parser-output .geo-defa..."
7,Date,First case of COVID-19: 17 November 2019 Publi...
8,Confirmed cases,"772,837,981[6]"
9,Deaths,"6,988,666[6]"
10,Vaccinations,"5,630,592,055[6] (total vaccinated)5,177,746,7..."

In [26]:
type(df[0])

pandas.core.frame.DataFrame

In [27]:
df[0].to_html("demo.html")